@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  height: 100%;
  min-height: 732px;
}

body {
  position: relative;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
  height: 100%;
  min-height: 732px;
}

section {
  position: relative;
  overflow-x: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-login {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 760px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-login .image-wrapper {
  width: 40%;
}

.main-login .image-wrapper img {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.login-wrapper .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
}

.login-wrapper .login-form .h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 45px;
}

.login-wrapper .login-form p {
  display: inline-block;
  font-weight: 500;
  font-family: 'Roboto';
  color: #d62c20;
}

.login-wrapper .login-form label {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #B9B9B9;
}

.login-wrapper .login-form input {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  height: 40px;
  width: 370px;
  background-color: #ECF1F8;
  border: none;
  margin-bottom: 25px;
  padding: 0 10px;
}

.login-wrapper .login-form .btn-login {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  font-size: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  background-color: #fff;
  background-color: #283EFF;
  padding: 10px 25px;
  border: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.login-wrapper .login-form .btn-login:hover {
  background-color: rgba(40, 62, 255, 0.8);
}

.login-wrapper .login-form .login-loader {
  display: none;
  margin-left: 15px;
  opacity: 0;
}

.login-wrapper .login-form .loader-active {
  display: inline-block;
  opacity: 1;
  -webkit-animation: loader .5s ease 0s infinite normal none;
          animation: loader .5s ease 0s infinite normal none;
}

.login-wrapper .logo-created {
  display: inline-block;
  position: absolute;
  bottom: 25px;
}

.login-wrapper .logo-created p {
  display: inline-block;
}

@-webkit-keyframes loader {
  0.0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.1% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes loader {
  0.0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.1% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.cabinet-main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cabinet-main .navbar-wrapper {
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #0045BC;
}

.cabinet-main .navbar-wrapper .top-line-navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cabinet-main .navbar-wrapper .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabinet-main .navbar-wrapper .navbar-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cabinet-main .navbar-wrapper .navbar-nav ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
  padding: 10px 25px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.cabinet-main .navbar-wrapper .navbar-nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.cabinet-main .navbar-wrapper .navbar-nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.cabinet-main .navbar-wrapper .navbar-nav ul li a i {
  display: inline-block;
  position: relative;
  right: 10px;
  font-size: 22px;
}

.cabinet-main .navbar-wrapper .navbar-nav ul .active-link-nav {
  background-color: rgba(255, 255, 255, 0.2);
}

.cabinet-main .content-wrapper {
  width: 80%;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0  25px;
  padding: 35px 0;
}

.header-content .h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin: 0;
}

.header-content .open-task-wrapper {
  margin: 0  10px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
}

.header-content .open-task-wrapper p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FF5454;
  background-color: #FFE0E0;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.header-content .open-task-wrapper p a {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: inline-block;
  text-decoration: none;
  color: #FF5454;
}

.header-content .open-task-wrapper p a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-content .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0  25px;
  width: 300px;
  position: relative;
}

.header-content .search-wrapper input {
  width: 100%;
  padding: 0  10px;
  height: 40px;
  background: #F2F8F6;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.header-content .search-wrapper input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-content .search-wrapper input:focus + a {
  right: 0px;
}

.header-content .search-wrapper a {
  position: absolute;
  right: 15px;
  top: 12px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.header-content .search-wrapper a:hover {
  color: #0045BC;
}

.header-content .notifiction-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0  25px;
  width: 150px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-content .notifiction-profile a {
  display: inline-block;
  font-size: 22px;
  line-height: 16px;
}

.header-content .notifiction-profile .notification-link {
  color: #000000;
  text-decoration: none;
  padding: 10px 10px;
}

.header-content .notifiction-profile .notification-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-content .notifiction-profile .profile-link {
  background-color: #20AFFF;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50%;
  padding: 15px 15px;
  text-align: center;
}

.header-content .notifiction-profile .profile-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.content-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-task .close-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 405px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.05);
  padding: 10px  15px;
  margin: 0 15px;
}

.content-task .close-task .task-item-wrapper {
  background-color: #fff;
  padding: 15px 20px;
  font-family: 'Roboto';
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}

.content-task .close-task .task-item-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content-task .close-task .task-item-wrapper .name-give {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.content-task .close-task .task-item-wrapper .task-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.content-task .close-task .task-item-wrapper .name-substr {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #20AFFF;
  padding: 10px 17px;
  border-radius: 50%;
  font-size: 24px;
}

.content-task .close-task .task-item-wrapper .tag-task {
  display: inline-block;
  background-color: #FFBCBC;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  padding: 5px 15px;
  position: relative;
  left: 25px;
}

.content-task .close-task .task-item-wrapper .status-task {
  display: inline-block;
  position: absolute;
  color: #24FF00;
  right: 10px;
  top: -5px;
  font-size: 22px;
}

.content-task .active-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 405px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.05);
  padding: 10px  15px;
  margin: 0 15px;
}

.content-task .active-task .task-item-wrapper {
  background-color: #fff;
  padding: 15px 20px;
  font-family: 'Roboto';
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}

.content-task .active-task .task-item-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content-task .active-task .task-item-wrapper .name-give {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.content-task .active-task .task-item-wrapper .task-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.content-task .active-task .task-item-wrapper .name-substr {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #20AFFF;
  padding: 10px 17px;
  border-radius: 50%;
  font-size: 24px;
}

.content-task .active-task .task-item-wrapper .tag-task {
  display: inline-block;
  background-color: #FFBCBC;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  padding: 5px 15px;
  position: relative;
  left: 25px;
}

.content-task .active-task .task-item-wrapper .status-task {
  display: inline-block;
  position: absolute;
  color: #24FF00;
  right: 10px;
  top: -5px;
  font-size: 22px;
}

.task-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 25px;
  padding: 15px 25px;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.task-content-wrapper .task-item-wrapper {
  width: 250px;
  margin: 15px 35px;
  background-color: #F2F8F6;
  padding: 15px 20px;
  font-family: 'Roboto';
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}

.task-content-wrapper .task-item-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.task-content-wrapper .task-item-wrapper .name-give {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.task-content-wrapper .task-item-wrapper .task-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.task-content-wrapper .task-item-wrapper .name-substr {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #20AFFF;
  padding: 10px 17px;
  border-radius: 50%;
  font-size: 24px;
}

.task-content-wrapper .task-item-wrapper .tag-task {
  display: inline-block;
  background-color: #FFBCBC;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  padding: 5px 15px;
  position: relative;
  left: 25px;
}

.task-content-wrapper .task-item-wrapper .status-task {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 22px;
}

.hidden-card-task {
  position: relative;
  overflow: hidden;
}

.hidden-card-task .text-container {
  padding: 20px 25px;
}

.hidden-card-task .text-container .str-name-hidden {
  display: inline-block;
  background-color: #20AFFF;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 50%;
}

.hidden-card-task .text-container .name-hidden-task {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0 15px;
}

.hidden-card-task .text-container .status-hidden-task {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 35px;
}

.hidden-card-task .text-container .status-hidden-task i {
  display: inline-block;
  margin-right: 5px;
}

.hidden-card-task .text-container .data-hidden-task-wrapper {
  font-size: 18px;
}

.hidden-card-task .text-container .data-hidden-task-wrapper span {
  display: inline-block;
  margin-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #B9B9B9;
}

.hidden-card-task .text-container .tegs-task-hidden-wrapper {
  font-size: 18px;
}

.hidden-card-task .text-container .tegs-task-hidden-wrapper span {
  display: inline-block;
  margin-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #B9B9B9;
}

.hidden-card-task .text-hidden-wrapper {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #DFDFDF;
}

.hidden-card-task .text-hidden-wrapper p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.hidden-card-task .btn-hidden-task {
  background-color: #283EFF;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  left: 35%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.hidden-card-task .btn-hidden-task:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hidden-card-task .dell-hidden-task {
  background-color: #283EFF;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  left: 35%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.hidden-card-task .dell-hidden-task:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hidden-settings {
  padding: 15px 25px;
}

.hidden-settings .inp-hidden-none {
  display: none;
}

.hidden-settings .close-input-hidden {
  display: none;
}

.hidden-settings .red-pen {
  display: none;
}

.hidden-settings .fake-input-hidden {
  display: none;
}

.hidden-settings .red-active {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  font-size: 18px;
  margin-left: 5px;
}

.hidden-settings .red-active:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hidden-settings .fake-active {
  display: inline-block;
  font-size: 18px;
}

.hidden-settings .inp-active {
  display: inline-block;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 22px;
  padding: 5px 10px;
}

.hidden-settings .close-active {
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .login-wrapper {
    width: 50%;
  }
  .login-wrapper .login-form {
    width: 350px;
  }
  .main-login .image-wrapper {
    width: 47%;
  }
}
/*# sourceMappingURL=main.css.map */