@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  height: 100%;
  min-height: 732px;
}

body {
  position: relative;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
  height: 100%;
  min-height: 732px;
}

section {
  position: relative;
  overflow-x: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-login {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 760px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-login .image-wrapper {
  width: 40%;
}

.main-login .image-wrapper img {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.login-wrapper .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
}

.login-wrapper .login-form .h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 45px;
}

.login-wrapper .login-form p {
  display: inline-block;
  font-weight: 500;
  font-family: 'Roboto';
  color: #d62c20;
}

.login-wrapper .login-form label {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #B9B9B9;
}

.login-wrapper .login-form input {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  height: 40px;
  width: 370px;
  background-color: #ECF1F8;
  border: none;
  margin-bottom: 25px;
  padding: 0 10px;
}

.login-wrapper .login-form .btn-login {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  font-size: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  background-color: #fff;
  background-color: #283EFF;
  padding: 10px 25px;
  border: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.login-wrapper .login-form .btn-login:hover {
  background-color: rgba(40, 62, 255, 0.8);
}

.login-wrapper .login-form .login-loader {
  display: none;
  margin-left: 15px;
  opacity: 0;
}

.login-wrapper .login-form .loader-active {
  display: inline-block;
  opacity: 1;
  -webkit-animation: loader .5s ease 0s infinite normal none;
          animation: loader .5s ease 0s infinite normal none;
}

.login-wrapper .logo-created {
  display: inline-block;
  position: absolute;
  bottom: 25px;
}

.login-wrapper .logo-created p {
  display: inline-block;
}

@-webkit-keyframes loader {
  0.0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.1% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes loader {
  0.0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.1% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.cabinet-main {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cabinet-main .navbar-wrapper {
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #0045BC;
}

.cabinet-main .navbar-wrapper .top-line-navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cabinet-main .navbar-wrapper .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabinet-main .navbar-wrapper .navbar-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cabinet-main .navbar-wrapper .navbar-nav ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
  padding: 10px 25px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.cabinet-main .navbar-wrapper .navbar-nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.cabinet-main .navbar-wrapper .navbar-nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.cabinet-main .navbar-wrapper .navbar-nav ul li a i {
  display: inline-block;
  position: relative;
  right: 10px;
  font-size: 22px;
}

.cabinet-main .navbar-wrapper .navbar-nav ul .active-link-nav {
  background-color: rgba(255, 255, 255, 0.2);
}

.cabinet-main .content-wrapper {
  position: relative;
  width: 80%;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0  25px;
  padding: 35px 0;
}

.header-content .h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin: 0;
}

.header-content .open-task-wrapper {
  margin: 0  10px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
}

.header-content .open-task-wrapper p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FF5454;
  background-color: #FFE0E0;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.header-content .open-task-wrapper p a {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: inline-block;
  text-decoration: none;
  color: #FF5454;
}

.header-content .open-task-wrapper p a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-content .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0  25px;
  width: 300px;
  position: relative;
  opacity: 0;
}

.header-content .search-wrapper input {
  display: none;
  width: 100%;
  padding: 0  10px;
  height: 40px;
  background: #F2F8F6;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.header-content .search-wrapper input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-content .search-wrapper input:focus + a {
  right: 0px;
}

.header-content .search-wrapper a {
  position: absolute;
  right: 15px;
  top: 12px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.header-content .search-wrapper a:hover {
  color: #0045BC;
}

.header-content .notifiction-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0  25px;
  width: 150px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-content .notifiction-profile a {
  display: inline-block;
  font-size: 22px;
  line-height: 16px;
}

.header-content .notifiction-profile .notification-link {
  color: #000000;
  text-decoration: none;
  padding: 10px 10px;
  position: relative;
}

.header-content .notifiction-profile .notification-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-content .notifiction-profile .profile-link {
  background-color: #20AFFF;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50%;
  padding: 15px 15px;
  text-align: center;
}

.header-content .notifiction-profile .profile-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.content-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-task .close-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 405px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.05);
  padding: 10px  15px;
  margin: 0 15px;
}

.content-task .close-task .task-item-wrapper {
  background-color: #fff;
  padding: 15px 20px;
  font-family: 'Roboto';
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}

.content-task .close-task .task-item-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content-task .close-task .task-item-wrapper .name-give {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.content-task .close-task .task-item-wrapper .task-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.content-task .close-task .task-item-wrapper .name-substr {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #20AFFF;
  padding: 10px 17px;
  border-radius: 50%;
  font-size: 24px;
}

.content-task .close-task .task-item-wrapper .tag-task {
  display: inline-block;
  background-color: #FFBCBC;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  padding: 5px 15px;
  position: relative;
  left: 25px;
}

.content-task .close-task .task-item-wrapper .status-task {
  display: inline-block;
  position: absolute;
  color: #24FF00;
  right: 10px;
  top: -5px;
  font-size: 22px;
}

.content-task .active-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 405px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.05);
  padding: 10px  15px;
  margin: 0 15px;
}

.content-task .active-task .task-item-wrapper {
  background-color: #fff;
  padding: 15px 20px;
  font-family: 'Roboto';
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}

.content-task .active-task .task-item-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content-task .active-task .task-item-wrapper .name-give {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.content-task .active-task .task-item-wrapper .task-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.content-task .active-task .task-item-wrapper .name-substr {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #20AFFF;
  padding: 10px 17px;
  border-radius: 50%;
  font-size: 24px;
}

.content-task .active-task .task-item-wrapper .tag-task {
  display: inline-block;
  background-color: #FFBCBC;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  padding: 5px 15px;
  position: relative;
  left: 25px;
}

.content-task .active-task .task-item-wrapper .status-task {
  display: inline-block;
  position: absolute;
  color: #24FF00;
  right: 10px;
  top: -5px;
  font-size: 22px;
}

.task-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 25px;
  padding: 15px 25px;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.task-content-wrapper .task-item-wrapper {
  width: 250px;
  margin: 15px 35px;
  background-color: #F2F8F6;
  padding: 15px 20px;
  font-family: 'Roboto';
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}

.task-content-wrapper .task-item-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.task-content-wrapper .task-item-wrapper .name-give {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.task-content-wrapper .task-item-wrapper .task-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.task-content-wrapper .task-item-wrapper .name-substr {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #20AFFF;
  padding: 10px 17px;
  border-radius: 50%;
  font-size: 24px;
}

.task-content-wrapper .task-item-wrapper .tag-task {
  display: inline-block;
  background-color: #FFBCBC;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  padding: 5px 15px;
  position: relative;
  left: 25px;
}

.task-content-wrapper .task-item-wrapper .status-task {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 22px;
}

.hidden-card-task {
  position: relative;
  overflow: hidden;
}

.hidden-card-task .text-container {
  padding: 20px 25px;
}

.hidden-card-task .text-container .str-name-hidden {
  display: inline-block;
  background-color: #20AFFF;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 50%;
}

.hidden-card-task .text-container .name-hidden-task {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0 15px;
}

.hidden-card-task .text-container .status-hidden-task {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 35px;
}

.hidden-card-task .text-container .status-hidden-task i {
  display: inline-block;
  margin-right: 5px;
}

.hidden-card-task .text-container .data-hidden-task-wrapper {
  font-size: 18px;
}

.hidden-card-task .text-container .data-hidden-task-wrapper span {
  display: inline-block;
  margin-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #B9B9B9;
}

.hidden-card-task .text-container .tegs-task-hidden-wrapper {
  font-size: 18px;
}

.hidden-card-task .text-container .tegs-task-hidden-wrapper span {
  display: inline-block;
  margin-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #B9B9B9;
}

.hidden-card-task .text-hidden-wrapper {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #DFDFDF;
}

.hidden-card-task .text-hidden-wrapper p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.hidden-card-task .btn-hidden-task {
  background-color: #283EFF;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  left: 35%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.hidden-card-task .btn-hidden-task:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hidden-card-task .dell-hidden-task {
  background-color: #283EFF;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  left: 35%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.hidden-card-task .dell-hidden-task:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hidden-settings {
  padding: 15px 25px;
}

.hidden-settings .inp-hidden-none {
  display: none;
}

.hidden-settings .close-input-hidden {
  display: none;
}

.hidden-settings .red-pen {
  display: none;
}

.hidden-settings .fake-input-hidden {
  display: none;
}

.hidden-settings .red-active {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  font-size: 18px;
  margin-left: 5px;
}

.hidden-settings .red-active:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hidden-settings .fake-active {
  display: inline-block;
  font-size: 18px;
}

.hidden-settings .inp-active {
  display: inline-block;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 22px;
  padding: 5px 10px;
}

.hidden-settings .close-active {
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}

.table-wrapper-clients {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.table-wrapper-clients table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper-clients table thead tr {
  border: 1px solid #A4A4A4;
  padding: 5px 0;
}

.table-wrapper-clients table thead td {
  padding: 10px 15px;
  font-size: 16px;
  line-height: 19px;
  color: #A4A4A4;
  text-align: center;
}

.table-wrapper-clients table tbody tr {
  border: 1px solid #A4A4A4;
}

.table-wrapper-clients table tbody tr td {
  margin-bottom: 15px;
  text-align: center;
}

.table-wrapper-clients table tbody tr td p {
  padding: 10px 15px;
  position: relative;
}

.table-wrapper-clients table tbody tr td a {
  padding: 10px 0;
  position: relative;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

.table-wrapper-clients table tbody tr td .call-link-comp {
  color: #06BD6E;
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.table-wrapper-clients table tbody tr td .call-link-comp:hover {
  text-decoration: none;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.table-wrapper-clients table tbody tr td .dell-link-comp {
  color: #FF3030;
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.table-wrapper-clients table tbody tr td .dell-link-comp:hover {
  text-decoration: none;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.header-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-client .logo-client {
  width: 60%;
  margin: 0 25px;
}

.header-client .links-header-client-wrapper {
  width: 40%;
  margin: 0 25px;
}

.header-client .links-header-client-wrapper a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #BCBCBC;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin-right: 10px;
}

.header-client .links-header-client-wrapper a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #283EFF;
}

.header-client .links-header-client-wrapper .active {
  color: #ffffff;
  background-color: #283EFF;
}

.hidden-add-clients {
  padding: 15px 25px;
}

.hidden-add-clients .link-add-hidden-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden-add-clients .link-add-hidden-client a {
  display: inline-block;
  margin-bottom: 15px;
  width: 200px;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #BCBCBC;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.hidden-add-clients .link-add-hidden-client a:hover {
  background-color: #283EFF;
}

.add-form-company {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-form-company .error-form-add {
  display: inline-block;
  font-size: 18px;
  color: #FF3030;
}

.add-form-company .input-label-wrapper-hidden {
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}

.add-form-company .input-label-wrapper-hidden input {
  border: none;
  border-bottom: 2px solid #283EFF;
  outline: none;
  padding: 5px;
}

.add-form-company button {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #283EFF;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  outline: none;
}

.add-form-company button:hover {
  -webkit-transform: rotate(1.1);
          transform: rotate(1.1);
}

.add-form-routes {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-form-routes .error-form-add {
  display: inline-block;
  font-size: 18px;
  color: #FF3030;
}

.add-form-routes .input-label-wrapper-hidden {
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}

.add-form-routes .input-label-wrapper-hidden input {
  border: none;
  border-bottom: 2px solid #283EFF;
  outline: none;
  padding: 5px;
}

.add-form-routes button {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #283EFF;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  outline: none;
}

.add-form-routes button:hover {
  -webkit-transform: rotate(1.1);
          transform: rotate(1.1);
}

.add-form-carrier {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-form-carrier .error-form-add {
  display: inline-block;
  font-size: 18px;
  color: #FF3030;
}

.add-form-carrier .input-label-wrapper-hidden {
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}

.add-form-carrier .input-label-wrapper-hidden input {
  border: none;
  border-bottom: 2px solid #283EFF;
  outline: none;
  padding: 5px;
}

.add-form-carrier button {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #283EFF;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  outline: none;
}

.add-form-carrier button:hover {
  -webkit-transform: rotate(1.1);
          transform: rotate(1.1);
}

.count-notif {
  position: absolute;
  font-size: 12px;
  text-align: center;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #283EFF;
  color: #ffffff;
}

.list-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  position: relative;
}

.list-notification a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 5px;
}

.list-notification ul {
  margin: 0;
  padding: 15px 5px;
  list-style-type: none;
  width: 90%;
  display: inline-block;
}

.list-notification ul li {
  padding: 0 15px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.list-notification ul li .text-notification {
  font-size: 18px;
  font-weight: 700;
}

.list-notification ul li .date-notification {
  position: absolute;
  right: 5px;
  top: -10px;
  font-size: 14px;
}

.list-notification ul .no-read-list-notif {
  border: 2px solid #283EFF;
}

.list-notification ul .read-list-notif {
  border: 1px solid #000;
}

.add-form-task {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-form-task .error-form-add {
  display: inline-block;
  font-size: 18px;
  color: #FF3030;
}

.add-form-task .input-label-wrapper-hidden {
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}

.add-form-task .input-label-wrapper-hidden input {
  border: none;
  border-bottom: 2px solid #283EFF;
  outline: none;
  padding: 5px;
}

.add-form-task button {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #283EFF;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  outline: none;
}

.add-form-task button:hover {
  -webkit-transform: rotate(1.1);
          transform: rotate(1.1);
}

.add-task-link {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 36px;
  background-color: #283EFF;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.add-task-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-card .h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: normal;
}

.content-card .content-card-wrapper {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-card .composition-card {
  position: relative;
  border-radius: 10px;
  background: #F7F7F7;
  width: 45%;
  padding: 10px 0;
}

.content-card .composition-card .name-composition {
  padding: 10px 10px;
  border-bottom: 1px solid #000000;
}

.content-card .composition-card .name-composition .h3 {
  margin: 0;
}

.content-card .dell-card {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #FF3030;
  text-decoration: none;
}

.content-card .dell-card:hover {
  text-decoration: none;
}

.content-card .composition-main-card {
  padding: 10px 15px;
}

.content-card .composition-main-card .item-composition .opacitiy-p {
  font-size: 14px;
  color: #B9B9B9;
  margin: 0;
}

.content-card .composition-main-card .item-composition a {
  color: #000000;
}

.content-card .comments-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 25px;
  width: 45%;
  position: relative;
}

.content-card .comments-wrapper .commets-composit {
  width: 100%;
  margin-bottom: 15px;
}

.content-card .comments-wrapper .commets-composit .input-wrapper-comments {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content-card .comments-wrapper .commets-composit .input-wrapper-comments input {
  width: 80%;
  display: inline-block;
  background-color: #EDEDED;
  border: none;
  height: 36px;
  border-radius: 10px;
  outline: none;
  padding: 2px 15px;
}

.content-card .comments-wrapper .commets-composit .input-wrapper-comments button {
  z-index: 4;
  cursor: pointer;
  position: absolute;
  right: 80px;
  top: 7px;
  background-color: #283EFF;
  color: #ffffff;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  outline: none;
}

.content-card .comments-wrapper .commets-composit .input-wrapper-comments button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content-card .comments-wrapper .comments-list {
  overflow-y: scroll;
  height: 500px;
}

.content-card .comments-wrapper .comments-list .item-comments {
  background-color: #EDEDED;
  width: 80%;
  position: relative;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

.content-card .comments-wrapper .comments-list .item-comments p {
  margin: 0;
  margin-bottom: 5px;
}

.content-card .comments-wrapper .comments-list .item-comments .dell-comments {
  position: absolute;
  right: 5px;
  top: 2px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.content-card .comments-wrapper .comments-list .item-comments .dell-comments:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hidden-list-routes {
  padding: 25px 15px;
}

.hidden-list-routes .item-routes-hidden {
  padding: 5px 10px;
  border: 1px solid #283EFF;
  border-radius: 5px;
}

.hidden-list-routes .item-routes-hidden a {
  text-decoration: none;
  color: #000;
}

.hidden-list-routes .item-routes-hidden p {
  font-size: 18px;
}

.hidden-list-routes .item-routes-hidden p span {
  font-weight: 700;
  color: #283EFF;
}

.docs-wrapper {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.docs-wrapper .item-docs-wrapper {
  margin: 0 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #283EFF;
  padding-bottom: 10px;
  text-align: center;
}

.docs-wrapper .item-docs-wrapper a {
  text-decoration: none;
  color: #000000;
}

.docs-wrapper .item-docs-wrapper img {
  width: 150px;
  height: 150px;
}

.docs-wrapper .add-docs {
  text-decoration: none;
  color: #ffffff;
  background: #283EFF;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  border-radius: 10px;
  font-size: 22px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.docs-wrapper .add-docs:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hidden-form-add-docs {
  padding: 10px 15px;
}

.hidden-form-add-docs input {
  display: inline-block;
  margin-bottom: 10px;
}

.hidden-form-add-docs input[type=submit] {
  background-color: #283EFF;
  color: #ffffff;
  padding: 5px 15px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.content-main-users {
  margin: 0  15px;
}

.content-main-users table {
  width: 100%;
  border-collapse: collapse;
}

.content-main-users table thead tr {
  border: 1px solid #A4A4A4;
  padding: 5px 0;
}

.content-main-users table thead td {
  padding: 10px 15px;
  font-size: 16px;
  line-height: 19px;
  color: #A4A4A4;
  text-align: center;
}

.content-main-users table tbody tr {
  border: 1px solid #A4A4A4;
}

.content-main-users table tbody tr td {
  margin-bottom: 15px;
  text-align: center;
}

.content-main-users table tbody tr td p {
  padding: 10px 15px;
  position: relative;
}

.content-main-users table tbody tr td a {
  padding: 10px 0;
  position: relative;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

.actiun-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px;
}

.actiun-users a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-bottom: 15px;
  background-color: #283EFF;
  padding: 5px 0;
  outline: none;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 950px) {
  .login-wrapper {
    width: 50%;
  }
  .login-wrapper .login-form {
    width: 350px;
  }
  .main-login .image-wrapper {
    width: 47%;
  }
}
/*# sourceMappingURL=main.css.map */